
.header{
    background-color: #F5F7F8;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 10px;
}

.logo{
    width: 70px;
    margin: 20px 0 0 20px;
}

.nav-items ul{
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
    font-size: 20px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

