body {
  background-color: #eaf4f4;
  padding: 0;
}

.header {
  width: 80%;
  margin: 0 auto 0 auto;
  background-color: #f6fff8;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.logo {
  width: 70px;
  margin-top: 20px;
}

.nav-items ul {
  display: flex;
  padding: 0px 20px;
  color: rgba(0, 0, 0, 0.6);
  list-style-type: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.login{
  padding: 0 20px;
  margin: 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  list-style-type: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.search {
  background-color: #eaf4f4;
  margin: 25px 0;
  width: 45%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.search-box{
  background-color: #eaf4f4;
  border-radius: 10px;
  border-style: none;
  outline: none;
  height: 98%;
  width: 90%;
}

.search-btn{
  cursor: pointer;
  height: 98%;
  width: 8.5%;
  box-shadow: 0 3px 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-style: none;
  outline: none;
  color: rgba(0, 0, 0, 0.6);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 24px;
}


.filter-btn{
  background-color: #f6fff8;
  margin: 35px auto 0 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 33px;
  border: none;
  border-radius: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6); 
}

.filter-btn:hover{
  cursor: pointer;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.shimmer-card{
  width: 194px;
  height: 300px;
  margin: 5px;
  padding: 5px;
  background: linear-gradient(-45deg, #eee 40%, lightgray 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;

}

@keyframes shimmer {
  to {
     background-position-x: 0%
  }
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.res-card {
  width: 194px;
  margin: 5px;
  padding: 5px;
  line-height: 0.7;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  font-size: 17px;
  background-color: #f6fff8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.res-card h3{
  overflow: hidden; 
  text-overflow: ellipsis;     
  white-space: nowrap;
}

.res-card p {
  color: rgba(0, 0, 0, 0.6);  
  overflow: hidden;        
  text-overflow: ellipsis;     
  white-space: nowrap;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid grey;
}

.res-card img {
  width: 100%;
  height: 50%;
}
